{% extends 'layouts/base.html' %}
{% block title %}Login{% endblock %}
{% block external_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
<main class="form-signin w-100 m-auto">
  <form>
    <h1 class="h3 mb-3 fw-normal">Inloggen</h1>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="e-mailadres">
      <label for="floatingInput">E-mailadres</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Wachtwoord">
      <label for="floatingPassword">Wachtwoord</label>
    </div>

    <button class="btn btn-outline-primary login-button w-100 py-2" type="submit">Inloggen</button>
  </form>
</main>
{% endblock %}
