.login-button {
    background: var(--white-color);
    border: var(--purple-color) 1px solid;
    color: var(--purple-color);
}

.login-button:hover {
    background: var(--dark-purple-color);
    border: var(--dark-purple-color) 1px solid;
    color: var(--white-color);
}

.register-button {
    background: var(--purple-color);
    border: var(--purple-color) 1px solid;
}

.register-button:hover {
    background: var(--dark-purple-color);
    border: var(--dark-purple-color) 1px solid;
    color: var(--white-color);
}
