{% block external_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
{% endblock %}

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/flask/static" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="{{ url_for('static', filename='images/glitch-logo.webp') }}" height="50" width="auto"
                 alt="GLITCH-logo">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        </ul>

        <div class="col-md-4 text-end">
            <a class="btn btn-outline-primary login-button" href="#" role="button">Inloggen</a>
            <a class="btn btn-primary register-button me-2" href="#" role="button">Registreren</a>
            <button class="btn btn-primary shadow" id="btnSwitch"><img src="{{ url_for('static', filename='images/circle-half-stroke-solid.svg') }}" width="20px" height="20px"></button>
        </div>
    </header>
</div>
