:root {
    --purple-color: #4421D4;
    --red-color: #F20846;
    --blue-color: #33CFEF;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --dark-purple-color: #28137f;
}

#root {
    display: block !important;
}
